.shingle-container {
  position:relative;
}

.shingle-container .shingle-info {
    display: none;
}

.shingle-container.shingle-with-focussed-node .shingle-info {
    display: inherit;
}

.shingle-map {
  overflow:hidden;
  background-color:#ffffff;
  position:absolute; 
  left:0in;
  top:0in;
}

.shingle-zoom {
  position:absolute;
  left:0.25in;
  top:0.125in;
  z-index:100;
}

.shingle-debug {
  position:absolute;
  left:0.25in;
  top:5.75in;
  z-index:100;
}

.shingle-unselectable {
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */      
}
